<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Efflux!</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
   
    <div class = "hero">
      <div class="logo-animate">
        <h2>efflux</h2>
        <h2>efflux</h2>
        <p style="margin-left: -170px;">All your media, on all your devices.</p>
      </div>
    
    <div class ="CardGroup">
      <a class="neu" href="/library">
        <img src="./img/rasp-icon.png" width="200px">
      </a>
      <a class="neu" href="https://www.youtube.com/">
        <img src="./img/youtube-icon.png" width="200px">
      </a>
      <a class="neu" href="https://www.netflix.com/" style="padding: 0px">
        <img src="./img/netflix-icon.jpeg" width="200px" >
      </a>
      <a class="neu" href="https://www.primevideo.com/">
        <img src="./img/prime-icon.jpg" width="200px">
      </a>
      </div>
    </div>
  </body>

</html>
