<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Efflux</title>
    <link href="./css/style.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
   <div id="navBar">
        <a class="navbutton" href="/"><img src="img/back.png" width="24px"></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Library</h1>
                
            </div>
            <div class="col-4">
                <a href="/settings">
                <img class="settings" src="img/settings.png" width="30px">
                </a>
            </div>
        </div>
    
    <div class="row">
        <div class="col-3">
            <div class="thumbnail">
                <a href="/stream/tt0382625">
                <img src='./img/davincicode.jpg'>
                </a>
            </div>
        </div>
        
        
        <div class="col-3">
            <div  class="thumbnail">
            <a href="./video.html">
                <img src='./img/ted2.jpg'>
            </a>
            </div>
        </div>
       
        <div class="col-3">
            <div class="thumbnail">
                <a href="./video3.html">
                <img src='./img/wardogs.jpg'>
                </a>
            </div>
        </div>
       
        <div class="col-3">
            <div class="thumbnail">
                <a href="./video2.html">
                <img src='./img/kong.jpg'>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="thumbnail">
                <a href="./video3.html">
                <img src='./img/tebet.png'>
                </a>
            </div>
        </div>
    
    
        <div class="col-3">
            <div class="thumbnail">
                <a href="./video3.html">
                <img src='./img/manfromuncle.jpg'>
                </a>
            </div>
        </div>
    
        <div class="col-3">
            <div class="thumbnail">
                <a href="./video2.html">
                <img src='./img/xmen5.jpeg'>
                </a>
            </div>
        </div>
    
        <div class="col-3">
            <div class="thumbnail">
                <a href="./video.html">
                <img src='./img/zsjl.jpg'>
                </a>
            </div>
        </div>
    </div>
</div>
</body>

</html>