<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link href="./css/s1.css" rel="stylesheet">
</head>
<body>
    
    <div id="navBar">
        <a class="navbutton" href="./library.html"><img src="img/back.png" width="24px"></a>
    </div>
    <div class="container">
    <h1>Settings</h1>
    <ul><li>General</li>
    <li>Account</li>
    <li id="togset">Share media wirelessly<label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                </label>
    </li>
    <li id="togset">Use Hardware Acceleration <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label></li>
    <li><label for="res">Resolution: </label>
        <select id="res" name="res">
          <option value="2160p">2160p4K</option>
          <option value="1440p">1440pHD</option>
          <option value="1080p" selected>1080pHD</option>
          <option value="720p">720p</option>
        </select></li>
    <li>Terms of Use</li>
    <li>Privacy Statement     
        
    </li></ul>

    </div>
</body>
</html>